.Roulette-Container button {
    border-radius: 25%; 
    height: 30px;
    width: 50px;
}

.chip {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 25px;
    text-align: center;
}

#chip-container {
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 700px;
}

#roulette-table {
    pointer-events: none;
    display: flex;
    position: relative;
    top: 200px;
}

#roulette-table-grid {
    display: grid;
    grid-area: 'grid';
    grid-template-areas:
    'one'
    'two'
    'three'
    'four'
    'five';
}

#zero-column {
    display: grid;
    grid-area: 'zero';
    grid-template-rows: 150px;
}

#zero-column button {
    height: 100px;
    pointer-events: all;
}

#row-one {
    grid-area: 'one';
    display: grid;
    gap: 10px

}

#row-two {
    grid-area: 'two';
    position: relative;
    display: grid;
    gap: 10px;
    bottom: 50px;
}

#row-three {
    grid-area: 'three';
    position: relative;
    display: grid;
    gap: 10px;
    bottom: 100px
}

#row-four { 
    grid-area: 'four';
    display: flex;
    position: relative;
    bottom: 100px;
    left: 100px;
}

#row-four button {
    width: 200px;
    pointer-events: all;
}

#row-five { 
    grid-area: 'five';
    display: flex;
    position: relative;
    bottom: 100px;
    left: 100px
}

#row-five button {
    width: 100px;
    pointer-events: all;
}

/*  rows are split into two rows 
    top row contains the numbers the horizontal double bets and 2 to 1 bets
    bottom contains the rest of the vertical double bets and quad bets*/

.row-subdivision-one {
    display: flex;
    gap: 30px;

}

.row-subdivision-one button {
    height: 50px;
    pointer-events: all;
}

.row-subdivision-two {
    position: relative;
    bottom: 50px;
    pointer-events: none;
}

.row-subdivision-two button {
    height: 25px;
}
.numbers {
    
}

.two-to-one {

}

/* these are the horizontal double bets placed over subdivision one */
.double-one {
    pointer-events: none;
    position: relative;
    left: 50px;
    bottom: 50px;
    display: flex;
    gap: 50px;
}

.double-one button {
    pointer-events: all;
    width: 30px;
}

.double-two {
    display: flex;
    gap: 30px;
}

.double-two button {
    pointer-events: all;
}

.quad {
    display: flex;
    gap: 60px;
    position: relative;
    left: 55px;
    bottom: 25px;
    pointer-events: none;
}

.quad button {
    width: 20px;
    pointer-events: all;
}

.columns-container {
    display: flex;
    gap: 20px;
    position: relative;
    left: 10px;
}

.columns-container button {
    width: 20px;
    pointer-events: all;
}
