body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Optional: prevent horizontal scroll */
    cursor: url('../Assets/CusorImages/NORMAL.cur'), auto;
}
a, button, .clickable, .TOS-Container .button {
    cursor: url('../Assets/CusorImages/LINK_SELECT.cur'), pointer;
}
p, span, h1, h2, h3, h4, h5, h6, ul {
    cursor: url('../Assets/CusorImages/TEXT_SELECT.cur'), text;
  }
/* If you want to make sure your container takes the full viewport height */
html, body {
    height: 100%; /* Ensures no overflow */
}