@font-face {
    font-family: 'PixelFont';
    src: url('../Assets/Fonts/VCR_OSD_MONO_1.001.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Optional: prevent horizontal scroll */
    cursor: url('../Assets/CusorImages/NORMAL.png'), auto;
}
a, button, .clickable, .TOS-Container .button {
    cursor: url('../Assets/CusorImages/LINK_SELECT.png'), pointer;
}
input {
    cursor: url('../Assets/CusorImages/TEXT_SELECT.png'), text;
}
/* If you want to make sure your container takes the full viewport height */
html, body {
    height: 100%; /* Ensures no overflow */
}