/* Container for the entire component */
.end-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: #00ff00; /* Neon green text */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'PixelFont';
}

/* Scrolling text animation */
.scrolling-text {
  position: absolute;
  top: 100%; /* Start below the screen */
  width: 80%;
  text-align: center;
  white-space: pre-wrap;
  animation: scroll-up linear forwards; /* Duration is set dynamically */
  font-size: 30px;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0); /* Start at the bottom (below the screen) */
  }
  100% {
    transform: translateY(-280%); /* Scroll up completely off the screen */
  }
}


/* Infinite loop container */
.infinite-loop-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Infinite loop text */
.infinite-loop-text {
  position: absolute;
  color: gold;
  font-weight: bold;
  font-size: 24px;
  white-space: nowrap;
}

/* Fade-in container */
.fade-in-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 5s ease-in-out;
  text-align: center;
}

/* Visible state for fade-in container */
.fade-in-container.visible {
  opacity: 1;
}

/* Fade-in image */
.fade-in-image {
  max-width: 80%;
  max-height: 80%;
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

/* Visible state for fade-in image */
.fade-in-container.visible .fade-in-image {
  opacity: 1;
}

/* Fade-in text */
.fade-in-text {
  color: #00ff00; /* Neon green text */
  font-size: 24px;
  font-family: 'PixelFont', sans-serif;
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

/* Visible state for fade-in text */
.fade-in-container.visible .fade-in-text {
  opacity: 1;
}

/* Highlight class for keywords */
.highlight {
  color: gold; /* Change to your desired color */
  font-weight: bold; /* Optional: make the keywords bold */
}
.unlock-message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: #0827f4;
}
.LockedContainer{
  width: 100vw;
  height: 100vh;
}
.unlock-message {
  background: #000;
  border: 2px solid #fff;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-family: BIOSFont;
}

.unlock-message h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.unlock-message button {
  background: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
.unlock-message-overlay button{
  background-color: #c0c0c0;
  border: 1px outset #4f4f4f; /* Changed to outset border */
  font-family: BIOSFont;
}
.unlock-message-overlay{
  font-family: BIOSFont;
}