.Roulette-Container #Chips-List {
    /* makes the list display horzintally */
    display: grid;
    grid-auto-flow: column;
    position: relative;
}

.Chip {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 25px;
    text-align: center;
}