.win95-app-container {
    font-family: "MS Sans Serif", sans-serif;
    background: #c3c3c3;
    padding: 0;
    border: 4px outset #808080;
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.title-bar {
    background: #000080;
    color: white;
    padding: 5px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: BIOSFont;
    border-bottom: 2px inset #808080;
    z-index: 1;
}

.table-container {
    margin: -1px;
    padding: 0;
    height: 100%;
    max-height: 350px;
    overflow-y: auto;
    border: 0px inset #808080;
    scrollbar-color: #c0c0c0 #ffffff;
    scrollbar-width: thin;
    flex-grow: 1;
    width: calc(100% - 4px);
    font-family: PixelFont;
    position: relative;
}

.table-container table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    padding: 0;
}

/* Shift the NAME, CASH, etc row up */
.table-container thead {
    position: sticky;
    top: 0;
    background: #808080;
    color: white;
    z-index: 1;
    margin: 0;
    padding: 0;
    /* Move the header row up a bit */
}

/* Table cell styling */
.table-container th{
    border: 1px solid black;
    padding: 8px;
    color: black;
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
}
.table-container td {
    border: 1px solid black;
    padding: 8px;
    color: black;
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
}

.table-container th {
    background: #808080;
    color: black;
}
.window-button{
    font-family: PixelFont;
}
